openapi: "3.0.0"
info:
  version: 1.0.0
  title: LwM2M Registry
  description: OMA LwM2M registry service providing interface for objects and resources searching
  termsOfService: empty
  contact:
    name: Aliaksei Zhuk
    email: aliaksei.zhuk@dualinventive.com
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
servers:
  - url: https://www.openmobilealliance.org
    description: default server
paths:
  /Object:
    get:
      tags:
        - Objects
      description: |
        Returns metadata of of objects.
        Can be filtered by object ID and version
      operationId: findObjects
# TODO uncomment the servers sections below, when `Path and operation-level servers are not displayed`
#   from this issue is implemented: https://github.com/swagger-api/swagger-ui/issues/3641
#      servers:
#        - url: https://www.openmobilealliance.org/api/lwm2m/v1/
#          description: Objects Meta API
      parameters:
        - name: ObjectVersion
          in: query
          description: version of object to retrieve
          required: false
          schema:
            type: string
        - name: ObjectID
          in: query
          description: ID of object to retrieve
          required: false
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: objects meta response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Objects'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /{objectURI}:
    get:
      tags:
        - Object
      description: get details of a single object
      operationId: findObject
      externalDocs:
        url: https://swagger.io/docs/specification/data-models/representing-xml/
        description: OpenAPI 3 - Representing XML
#      servers:
#        - url: https://www.openmobilealliance.org/tech/profiles/
#          description: single object XML with details
      parameters:
        - name: objectURI
          in: path
          description: version of object to retrieve
          example: LWM2M_Security-v1_0.xml
          required: true
          schema:
            type: string
      responses:
        '200':
          description: object response
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/LWM2M'
        default:
          description: unexpected error
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/Error'

components:
  schemas:
    Error:
      type: object
      required:
        - code
        - message
      properties:
        code:
          type: integer
          format: int32
        message:
          type: string
    #
    Objects:
      type: array
      items:
        $ref: '#/components/schemas/ObjectMeta'


    ObjectMeta:
      properties:
        ObjectID:
          type: integer
        Ver:
          type: string
        URN:
          type: string
        Name:
          type: string
        Description:
          type: string
        Owner:
          type: string
        Label:
          type: string
        ObjectLink:
          type: string
        ObjectLinkVisible:
          type: string
        SpecLink:
          type: string
        SpecLinkVisible:
          type: string
        VortoLink:
          type: string

    LWM2M:
      type: object
      properties:
        Object:
          $ref: '#/components/schemas/Object'

    Object:
      type: object
      properties:
        Name:
          type: string
        Description1:
          type: string
        Description2:
          type: string
        ObjectID:
          type: integer
        ObjectURN:
          type: string
        LWM2MVersion:
          type: string
        ObjectVersion:
          type: string
        MultipleInstances:
          $ref: '#/components/schemas/InstanceType'
        Mandatory:
          $ref: '#/components/schemas/MandatoryType'
        Resources:
          type: object
          properties:
            Item:
              type: array
              items:
                $ref: '#/components/schemas/Resource'

    Resource:
      properties:
        ID:
          type: integer
          xml:
            attribute: true
        Name:
          type: string
        Operations:
          $ref: '#/components/schemas/OperationType'
        MultipleInstances:
          $ref: '#/components/schemas/InstanceType'
        Mandatory:
          $ref: '#/components/schemas/MandatoryType'
        Type:
          $ref: '#/components/schemas/Type'
        RangeEnumeration:
          type: string
        Units:
          type: string
        Description:
          type: string

    Type:
      type: string
      enum:
        - String
        - Boolean
        - Integer
        - Float
        - ObjLink
        - Opaque

    OperationType:
      type: string
      enum:
        - R
        - W
        - RW
        - E

    InstanceType:
      type: string
      enum:
        - Multiple
        - Single

    MandatoryType:
      type: string
      enum:
        - Mandatory
        - Optional
